[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim
	ignorecase = false
[user]
	email = jarred.kenny@tracktile.io
	name = Jarred Kenny
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@ggitlab.com/"]
	insteadOf = https://gitlab.com/
[column]
	ui = auto
[branch]
	sort = -committerdate
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[diff]
	colorMoved = zebra
