[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = code --wait
	ignorecase = false
[diff]
	tool = vscode
	colorMoved = zebra
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	tool = code --wait $MERGED
[user]
	email = jarred.kenny@tracktile.io
	name = Jarred Kenny
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@ggitlab.com/"]
	insteadOf = https://gitlab.com/
