[core]
	pager = delta
	editor = nvim -f 
	ignorecase = false
[user]
	email = jarred.kenny@tracktile.io
	name = Jarred Kenny
	signingkey = /Users/jarred/.ssh/id_rsa
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@ggitlab.com/"]
	insteadOf = https://gitlab.com/
[column]
	ui = auto
[branch]
	sort = -committerdate
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[diff]
	colorMoved = zebra
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[rerere]
	enabled = true
[gpg]
	format = ssh
[maintenance]
	repo = /Users/jarred/Code/tracktile/platform
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
